.page-wrapper {
  background: black
  height: 100vh
}

h1 {
  color: white
  display: inline
}

.emissions_axis line{
  stroke: white
}

.emissions_axis path  {
  stroke: white
}

.emissions_axis text {
  fill: white
}

.stat {
  text-align: center
}

#stats {
  font-size: 18px
}

div.tooltip {
  fill: white
}

.btn:hover {
  background-color: grey
  color: white
}