.page-wrapper {
  background: black
  height: 100vh
}

.emissions_axis line{
  stroke: white
}

.emissions_axis path  {
  stroke: white
}

.emissions_axis text {
  fill: white
}

.stat {
  text-align: center
}

#stats {
  font-size: 18px
}
